<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wyj.shiropro.mapper.UserMapper">

    <resultMap id="userMap" type="com.wyj.shiropro.model.User">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.wyj.shiropro.model.Role">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <collection property="permissons" ofType="com.wyj.shiropro.model.Permission">
                <id property="pid" column="pid"/>
                <result property="name" column="name"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, username, passworld, rid, rname, pid, name, url
    </sql>
    <!--尽量用where语句-->
    <!--    <select id="findByUsername" parameterType="string" resultMap="userMap">-->
    <!--      SELECT u.*, r.*, p.*-->
    <!--      FROM user u-->
    <!--        INNER JOIN user_role ur on ur.uid = u.uid-->
    <!--        INNER JOIN role r on r.rid = ur.rid-->
    <!--        INNER JOIN permission_role pr on pr.rid = r.rid-->
    <!--        INNER JOIN permission p on pr.pid = p.pid-->
    <!--      WHERE u.username = #{username}-->
    <!--    </select>-->
    <select id="findByUsername" resultMap="userMap" parameterType="string">
        SELECT temp.*,p.pid, p.name, p.url
        FROM role r, permission p, permission_role pr,
            (SELECT u.uid, u.username, u.password,r.rid, r.rname
            FROM USER u, role r, user_role ur
            WHERE u.uid = ur.uid AND r.rid = ur.rid AND r.rid AND u.username = #{username}) temp
        WHERE r.rid = pr.rid AND p.pid = pr.pid AND r.rid = temp.rid
    </select>
    <select id="login" parameterType="java.lang.String" resultMap="userMap">
        select * from user
        <where>
            <if test="username != null">
                username = #{username}
            </if>
            and
            <if test="password != null">
                password = #{password}
            </if>
        </where>
    </select>
    <select id="getUserById" parameterType="Integer" resultMap="userMap">
        select *from user
        where id = #{id}
    </select>
</mapper>